*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    flex-direction: column;
    gap: 10px
    ;
}

a{
    text-decoration: none;
}

a > h1{
    padding: 10px;
    border-radius: 10px;
    transition: background 1s ease-out;
    cursor: pointer;
    color: #fff;
}

a > h1:hover{
    background: #fff;
    color: #000;
}

.work{
    display: grid;
    grid-template-columns: auto;
}

.card > h2{
    font-size: 40px;
}

.card{
    text-decoration: non;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: 1px #fff solid;
    transition: all 1s ease-in-out;
}

.card:hover{
    background: #fff;
    color: #000;
    
}